@import "colores";

.empanadas {

    .card {
        border: none;
        background-color: $colorFondo;  
        border-bottom: 0.1rem solid lightgray;
        
       
       .card-title {
           font-size: 2em;
           color: $gris;
           padding: 1em 0 1em 0;
       }

       select {
        margin: 0 0.6em 1em 0;
    }
    
    .aclaraciones {
        width: 100%;
        height: 3em;
        margin: 0.5em 0 0.5em 0;
        
    }

    }

    .empanadas-precio {
        padding-top: 1.2em;
        font-size: 1.5em;
           color: $rojo;
    }

    .empanadas-img {
        width: 100%;
    }
    
}