@import "colores";

.mas-promociones {
    h1 {
        font-size: 3.5em;
        letter-spacing: 1%;
        color: $rojo;
        text-align: center;
        padding: 1.5em 0 1em 0;
    }

    h3 {
        font-style: bold;
    }

    .mas-precio {
        color: $rojo;
    }

    
        
}