
@import "promocionesMasVendidas";
@import "masPromociones";
@import "pizzas";
@import "empanadas";
@import "canastitas";
@import "otrasComidas";
@import "colores";


$fuentePrincipal: "Myriad Web Pro"; 

body {
    margin: 0% 0% 0% 0%;
    padding: 0%;
    border: 0%;
    font-family: $fuentePrincipal;
    background-color: $colorFondo;
    
    .icono-agregar {
      width: 1em;
    }
}


.navbar {
  .logo {
    width: 10em;
    
  }
    width: 100%;
    height: 4em;
    position: fixed;
    z-index: 1;
    
    .navbar-nav {
      font-size: 2.2vh;
      position: absolute;
      left: 20%;
     
      text-transform: bold;
      
     
        .nav-link {
          margin: 3vh;
          color: black;
        }
  
    }

    .nav-iconos {
      width: 2em;
      margin-right: 0.3em;
    }

    li {
      display: inline-block;
    }
   
  }

  .bg-light {
    background-color:$navColor!important;
  }



  #footer {
    padding: 4em 0 2em 0 ;
    background-color:$rojo;
    text-align: center;
    border: 0%;
  
      .icons {
      font-size: 1.25em;
      list-style: none;
          li {
            display: inline-block;
          }
      }
  
      .copyright {
        color: white;
        font-size: 0.8em;
        letter-spacing: 0.225em;
        list-style: none;
        padding: 0;
        text-transform: uppercase;
  
         li {
          display: inline-block;
          line-height: 1em;
          margin-left: 1em;
          padding-left: 1em; }
  
      }
  
      .redes-footer{
        margin: 0.5em;
        width: 1.5em;
        height: 1.3em;
      }
  }